[Unit]
Description=Run a shell script on first boot. 
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/first-boot.sh
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
