[Unit]
Description=Runs once on first boot. 
After=network.target

[Service]
RemainAfterExit=true
StandardOutput=journal

# Suited for tasks that run for a short time and terminate.
# Supports multiple ExecStart statements, that run sequentially
Type=oneshot

# General purpose script for debugging, etc.
ExecStart=/usr/local/bin/first-boot.sh

# Install the soundcard driver kernel module and device tree blob
ExecStart=/opt/bugg-soundcard-driver/install.sh